html {
  
  

    background: #161616;

    font-family: Roboto;
    color: white;
  }



  body {
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  

.animatein{
  animation: swingIn 1s ease-in;
  
  transition: filter 1s ease;
}
@keyframes swingIn {
  0% {
    transform: translateX(-100%) translateY(0px);
    opacity: 0;
  
  }

  20% {
 
    transform: translateX(0px) translateY(0px);
    opacity: 1;
    
  }

  40% {
    transform: translateX(0px) translateY(0px);
    filter: brightness(00%);
    filter: blur(0px); /* Start with a strong blur */
    
  }

  60% {
    transform: translateX(0px) translateY(0px);
  
  }

  80% {
    transform: translateX(0px) translateY(0);
    opacity: 1; /* Fully visible */
    filter: blur(0); /* Clear */
  }

  90% {
    transform: translateX(0px) translateY(0px); /* Small final glitch */
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}