
---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
 
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Rubik+Mono+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/src/styles/global.css" />
    <title>STHERLT | HOME</title> <!Tab title>
    <script defer src="/src/app/appscroll.js"></script>
    <Navigation/>
  </head>
  <body class="animatein">

	

 
  <section class="s0">
    
  </section>
  <section class="s1">

   
<section class="nameblk">

    <h1 class="fancy">SEAN THERIAULT</h1>

    <h2 class="skinny">| ELECTRICAL ENGINEERING STUDENT</h2>
    <p> </p>
    <div class="index-links">
      <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
          <img src="https://cdn-icons-png.flaticon.com/256/61/61109.png" alt="LinkedIn" style="width: 24px; height: 24px; vertical-align: middle;">
      </a>
      <a href="https://github.com" target="_blank" rel="noopener noreferrer">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 24px; height: 24px; vertical-align: middle;">
      </a>
      <a href="https://github.com" target="_blank" rel="noopener noreferrer">
        <img src="https://cdn-icons-png.flaticon.com/128/1250/1250592.png" alt="Contact" style="width: 24px; height: 24px; vertical-align: middle;">
    </a>
   </div>
   <p class="skinny">my personal portfolio</p>
  
   </section>
  
  </section>
  <hr class="divider">
  
     
  
  <div class="content-section">
    <div class="image-container">
      <img src="/public/demo_img_1.jpeg" alt="Description" class="section-image">
    </div>
    <div class="vertical-divider"></div>
    <div class="text-container">
      <div class="fsmall">| PROJECTS</div>
      <p>Check out the projects I have worked on</p>
      <a class="LINKBOX" href="/projects/">Check It Out</a>
    </div>
  </div>
  <hr class="divider">
  <div class="content-section2">
    <div class="text-container">
      <div class="fsmall">| ABOUT</div>
      <p>Your content goes here. Add your text or description about the image or any topic you want to include in this section.</p>
    </div>
    </div>

  <hr class="divider">
  <div class="content-section">
    <div class="image-container">
      <img src="/public/demo_img_2.jpg" alt="Description" class="section-image">
    </div>
    <div class="vertical-divider"></div>
    <div class="text-container">
      <div class="fsmall">| GALLERY</div>
      <p>Your content goes here. Add your text or description about the image or any topic you want to include in this section.</p>
      <a class="LINKBOX" href="/gallery/">Check It Out</a>
    </div>
  </div>
  <hr class="divider">
  <div class="content-section2">
    <div class="text-container">
      <div class="fsmall">| ABOUT</div>
      <p>Your content goes here. Add your text or description about the image or any topic you want to include in this section.</p>
    </div>
    </div>

  <hr class="divider">
 
</div>
 

  <Footer/>
  

  </body>
</html>

<style>
.LINKBOX {
  font-family: "Lexend Deca", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-style: solid;
  color: #ffffff;
  background-color: rgba(135, 151, 153, 0.993); /* Button background color */
  border-color: #d3d3d3;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Glow effect on hover */
.LINKBOX:hover {
 
  animation: welcomepulse 5.5s infinite ease-in-out;
  border-radius: 12px 80px 12px 80px  /40px 20px 40px 20px ;
  font-weight: 350;
  
  
  transform: scale(1.15); /* Slight zoom-in effect */

  
}

.indexrighttext{
  text-align: right;
  
  
  transform: translateY(10px);
  background-color: 	#ce535300;
  border-width: 1.5px;
  
  width: 80%;
  margin-right: auto;
  margin-left: 0;
  border-radius: 4px;
  padding: 1%;
  animation: wiggle 2.5s infinite ease-in-out;
}
@keyframes welcomepulse {
  0% {
    
    box-shadow:inset 10px 0px 15px rgba(82, 82, 82, 0.6); /* Right */
  }
  25% {
    box-shadow:inset 0px 10px 15px rgba(82, 82, 82, 0.6); /* Bottom */
  }
  50% {
    box-shadow:inset -10px 0px 15px rgba(82, 82, 82, 0.6); /* Left */
  }
  75% {
    box-shadow:inset 0px -10px 15px rgba(82, 82, 82, 0.6); /* Top */
  }
  100% {
    box-shadow:inset 10px 0px 15px rgba(82, 82, 82, 0.6); /* Back to Right */
  }
}
@keyframes wiggle {
  0% { transform: rotate(0deg); }
  
  100% { transform: rotate(0deg); }

}

.BACKGROUNDTEXT{
  

  position: absolute;
  color: transparent;
  color: rgb(255, 255, 255);
  z-index: -1;
  font-size: 300%;
  padding-left: 60%;
  transform: translateY(-250px);
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 780;
  font-style: normal;
}
.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px; /* Adjust the gap between the image and text */
}

.image-container {
  flex: 2; /* Take up equal space */
  transition: transform 0.1s ease, text-shadow 0.3s ease, background-color 0.1s ease,color 0.1s ease, box-shadow 0.3s ease;
}
.image-container:hover {
  border-radius: 0px;
  transform: scale(1.01);
  
  
}

.section-image {
  width: 100%; /* Make the image responsive */
  max-width: 90%;
  height: auto;
  border-radius: 20px; /* Optional: rounded corners for the image */
  transition: border-radius 0.3s ease,box-shadow 0.3s ease;
}
.section-image:hover {
  border-radius: 0px; /* Optional: rounded corners for the image */
}

.text-container {
  width: 100%;
  flex: 2; /* Take up more space than the image */
  padding-left: 20px; /* Add some space between the image and the text */
}

/* Ensure text is legible and aligned properly */
.text-container h3 {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 780;
  font-style: normal;
  margin-bottom: 10px;
  font-size: 3.5em;
}
.fsmall {
    font-size: 4.7rem;
    font-weight: 780;
  }
.text-container p {
  width: 80%;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
}
.vertical-divider {
  width: 2px; /* Make the line thin */
  background-color: #000000; /* Black color for the line */
  height: 500px; /* Make it stretch the full height of the section */
  margin: 0 20px; /* Add some spacing on either side of the line */
}
@media (max-width: 480px) {
  .fancy {
    font-size: 2.5rem;
  }
  .fsmall {
  
    font-size: 1.5rem;
    text-align: left;
  }
  .skinny {
    font-size: 4vw;
  }
  .lf{
    height: 0px;
  }
  .nameblk{
    
   
  }
  .content-section {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align content */
    gap: 10px; /* Add space between elements */
    transform: translateY(-10%);
    background-color: #00000007;
    padding: 5%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #e9e9e9;
    
  }
  .content-section2 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align content */
    gap: 10px; /* Add space between elements */
    transform: translateY(-15%);
    background-color: #00000007;
    padding: 5%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #e9e9e9;
    
  }

  .section-image {
    max-width: 90%;
    transform: translateX(5%);
    
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
  }
  .divider{
    width: 0px;
  }

  .text-container {
    text-align: left;

  
  }

  .LINKBOX {
    font-size: 0.9rem;
    padding: 5px 10px;
    width: auto;
  }
  .vertical-divider{
    height: 00px;
    width: 0px;
  }
}

</style>
