<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navigation {
    width: 100%;
    
    padding-bottom: 2%;
  z-index: 999;
    backdrop-filter: blur(30px);
    padding: 10px;
    font-weight: bold;
    text-align: center;
    justify-content: space-between;
    display: flex;
    border-radius: 10px;
   
    margin-bottom: 1%;
    
    z-index: 1000;
  }
  
  .left-nav,
  .right-nav {
    
  }
  .navigation:hover{
    backdrop-filter: blur(90px);
  }
  .right-nav {
    margin-left: auto;
    
  }
  
  .navigation a {
    color: #ffecd7;
    width: 120px;
    margin-left: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 350;
    text-decoration: none;
    padding: 5px 10px;
    
   
    
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: transform 0.1s ease, text-shadow 0.3s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.3s ease;
  }
  
 

.navigation a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  transition: all 0.2s;
}

.navigation a:hover::before {
  transform: translateX(-50%) scaleY(1);
}
  .navigation a:hover {
    
    color: #c3b3a3;
    transform: translateY(2%);
   
    
  }
  
  .navigation a:active {
    border-radius: 10PX;
    transform: translateY(10%);
    color: #d4ac82;
      
  }
  
 
  

  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navigation {
      display: none;
    }
  
    .hamburger-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      
      border-radius: 10px;
    }
  
    .hamburger-menu .menu-icon {
       transform: translateX(-100%);
      border-radius: 50px;
      cursor: pointer;
      font-size: 1.5rem;
      color: #ffffff;
      z-index: 1001;
      transition: all 0.3s ease;
    }
    .hamburger-menu .menu-icon:hover {
      
      
    }
    .hamburger-menu .menu-icon:active {
      
      color: rgb(38, 0, 255);
     
    }
    
    .mobile-menu {
  display: none; /* Hide by default */
  flex-direction: column;
  align-items: left;
     
  background-image: linear-gradient(#463e33) ;
    color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 15%;
  padding-top: 0%;
  z-index: 1000;
  justify-content: center;
  transition: all 0.3s ease;
}

.mobile-menu a {
  margin: 10px 0;
 font-family: "Lexend Deca", sans-serif;
  font-size: 2.5rem;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
    .mobile-menu a:hover {
      
      transform: translateX(1%);
    }
    
  }
  .mobile-menu.slide-in {
   animation: slide 0.3s ease;
 
  }
  @keyframes slide {
  0% {
    
    transform: translateX(10%);
  
  } 
  50% {
    transform: translateX(0%);
  
  } 
  100%{
    font-size: 2.5rem;
  }
  
}
.button{
  border-style:solid ;
  border-radius: 10px;
}
@keyframes slideout {
  0% {
    transform: translateX(0%);
  
  } 
  50% {
    background-color: #e5c9ab;
    transform: translateX(-100%);
    
  } 
  100%{
    
    transform: translateX(-100%);
  }
}

  .mobile-menu.slide-out {
    animation: slideout .5s ease;
  }
  
  /* Force-hide mobile menu on larger screens */
  @media (min-width: 769px) {
    .mobile-menu {
      display: none !important;
    }
    .hamburger-menu {
      display: none !important;
    }
    .favicon{
      transform: translateX(-50%);
    }
  }
  .title {
    font-family: "Lexend Deca", sans-serif;

    margin: -2rem 0;
    font-size: 6.5rem;
    font-weight: 700;
  }

  
  *{
    color:#e5c9ab;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 10px;
    
    
   
  }
  </style>
  
  <div class="hamburger-menu">
    <!-- <img src="/public/initials.png" alt="Logo" class="favicon"> -->
    <span class="menu-icon">☰</span>
  </div>
  
  <nav class="navigation">
    <div class="left-nav">
      
      <!-- <img src="public/initials.png" alt="Logo" class="favicon"> -->
      <a href="/" >Home</a>
      <a href="/projects/">Projects</a>
      
      
      
      
    </div>
    <div class="right-nav">
      | Sean Theriault
      <a class="button" href="https://drive.google.com/file/d/1XND4uoZLJRUvB2aekekpRIHn7KCCtKaV/view?usp=sharing" target="_blank" >
        Resume
      </a>
      
    </div>
    
   
  </nav>
  
  <div class="mobile-menu">
    <p class="title">NAV</p>
    <a href="/">HOME</a>
    <a href="/projects/">PROJECTS</a>
    <a href="https://drive.google.com/file/d/1XND4uoZLJRUvB2aekekpRIHn7KCCtKaV/view?usp=sharing">RESUME</a>

  </div>
  
  <script>
 const menuIcon = document.querySelector('.menu-icon');
const mobileMenu = document.querySelector('.mobile-menu');
let menuVisible = false;

// Toggle the visibility of the mobile menu
menuIcon.addEventListener('click', () => {
  if (!menuVisible) {
    mobileMenu.classList.add('slide-in');
    mobileMenu.classList.remove('slide-out');
    mobileMenu.style.display = 'flex';
  } else {
    mobileMenu.classList.add('slide-out');
    mobileMenu.classList.remove('slide-in');
    setTimeout(() => {
      mobileMenu.style.display = 'none'; // Ensure it's hidden after animation
    }, 300); // Matches the transition duration
  }
  menuVisible = !menuVisible;
});

  </script>
  